_dev
/mongodb/
lib/bitmapchecker.so
config/access_users.txt
config/main.cfg
data/definitions.json
data/mappings.json
data/run_all.pid
data/request_start.txt
data/courses/*
data/exams/*
data/studentidents/*
data/students/*
data/temp/*
logs/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*
*.pyc
